@media only screen and (max-width: 1280px) {
    .main {

        &:before,
        &:after {
            display: none;
        }
    }
}


@media only screen and (max-width: 1024px) {
    .header__group {
        gap: 60px;
    }

    .header__group_sign {
        gap: 14px;
    }

    .header__nav {
        gap: 34px;
    }

    .header {
        padding: 20px 0 50px;
    }

    h1 {
        font-size: 34px;
        margin-bottom: 62px;
    }

    .main {
        padding-bottom: 50px;
    }

    .price {

        padding: 45px 38px 40px;
    }

    .price__desc::after {
        left: -38px;
        right: -38px;
    }
    .wow {
        visibility: visible;
    }
}

@media only screen and (max-width: 768px) {
    .header__nav-wrap {
        opacity: 0;
        visibility: hidden;
        position: fixed;
        display: flex;
        top: 100px;
        bottom: 0;
        right: 30px;
        width: 100px;
        z-index: 200;
        transition: var(--transition);
        overflow: auto;

        .header__nav {
            flex-direction: column;
            gap: 26px;
        }
    }

    .header__menu-btn {
        display: flex;
    }

    .btn {
        height: 30px;
        padding: 0 16px;
    }

    .main {
        &:after {
            content: '';
            display: block;
            position: absolute;
            top: -36px;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-backdrop-filter: blur(20px);
            backdrop-filter: blur(20px);
            transition: var(--transition);
            opacity: 0;
            visibility: hidden;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 100;
            background: none;
            width: auto;
            height: auto;
        }
    }

    .open-menu {
        .main {
            &:after {
                opacity: 1;
                visibility: visible;
            }
        }
    }

    .prices {
        flex-direction: column;
        gap: 20px;
    }

    .price {
        width: 100%;
        padding: 34px 38px 40px;
    }

    .price:nth-child(2) {
        transform: translateY(0);
        margin: 00;
    }

    .price__cost {
        justify-content: center;
    }

    .price__name {
        text-align: center;
    }

    .price__name {
        font-size: 20px;
        margin-bottom: 25px;
    }

    .price__list {
        margin-bottom: 38px;
    }

}