* {
    box-sizing: border-box;
}

a:active,
a:focus,
input:active,
input:focus,
textarea:active,
textarea:focus,
button:active,
button:focus,
label:active,
label:focus {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    text-decoration: none !important;
}
button{
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    margin: 0;
}
h1{
    font-weight: 600;
    font-size: 41px;
    margin-bottom: 69px;
    text-align: center;
}

input,
select,
textarea {
    outline: none !important;
    outline-style: none !important;
    -moz-outline-style: none !important;
    border: 0;
}

p {
    
}

img {
    line-height: 100%;
    max-width: 100%;
    display: block;
}

a,
a:hover,
a:focus,
a:visited,
a:active {
    text-decoration: none;
    position: relative;
    color: currentColor;
}

ul {
    list-style-type: none;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

ol {
    list-style-type: decimal;
    list-style-position: inside;
    display: block;
    margin: 0;
    padding: 0;
}

b,
strong {
    font-weight: 600;
}

i {
    font-style: italic;
}

table {
    border: 0;
    border-collapse: collapse;
    margin: 0;
    width: 100%;
}

table th {
    font-weight: 400;
}

table th,
table td {
    border: 0;
    padding: 0;
}

:root {
    --font-family: "Inter", sans-serif;
    --transition: all 0.2s ease-in-out;
    --transition05: all 0.5s ease-in-out;
}
html{
    -webkit-tap-highlight-color: transparent;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
    color: #fff;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    padding: 0;
    margin: 0;
    flex-direction: column;
    background: linear-gradient(153deg, #36603E 35.82%, #1E262C 107.75%), #386641;
    font-family: var(--font-family);
    font-variant-numeric: lining-nums proportional-nums;
}
.oh{
    overflow: hidden;
}

.hamburger {
    width: 14px;
    height: 10px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
}
.hamburger span:first-child {
    top: 0;
    transform-origin: left center;
}
.hamburger span:nth-child(2) {
    top: 4px;
    transform-origin: left center;
}
.hamburger span:nth-child(3) {
    top: 8px;
    transform-origin: left center;
}
.hamburger span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}
.hamburger.open span:first-child {
    transform: rotate(45deg);
    top: -1px;
    left: 2px;
}
.hamburger.open span:nth-child(2) {
    width: 0;
    opacity: 0;
}
.hamburger.open span:nth-child(3) {
    transform: rotate(-45deg);
    top: 9px;
    left: 2px;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    border-radius: 7px;
    font-weight: 500;
    line-height: 128%;
    padding: 0 34px;
    transition: var(--transition);
    color: #fff;
    background: #bc4749;
    opacity: 1 ;
    border: 1px solid #d66567;
    img{
        margin-left: 10px;
        transition: var(--transition);
    }
    &:hover {
        background: #994445;
        img{
            transform: translateX(3px);
        }
    }
    &_transparent {
        border: 1px solid #D0D0D0;
        box-shadow: 0px 6px 14px 0px rgba(0, 0, 0, 0.10);
        background: transparent;
        &:hover {
            background: rgba(0, 0, 0, 0.10);
        }
    }
}
.main {
    padding-bottom: 100px;
    position: relative;
    transition: var(--transition);
    &:after, &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0px;
    }
    &:after{
        width: 318px;
        height: 218px;
        background: url(../img/bg_left.png) no-repeat center center;
        left: 0px;
    }
    &:before{
        width: 316px;
        height: 205px;
        background: url(../img/bg_right.png) no-repeat center center;
        right: 0px;
    }
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;
    padding: 0 10px;
}
.header {
    padding: 34px 0 46px;

    &__container {
        width: 100%;
        max-width: 1210px;
        margin: 0 auto;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__group {
        display: flex;
        gap: 87px;
        align-items: center;
        li{
            a{
                font-weight: 300;
                line-height: 128%;
                opacity: .8;
                position: relative;
                transition: var(--transition);
                &.active{
                    font-weight: 600;
                    opacity: 1;
                    cursor: default;
                    pointer-events: none;
                    &:before{
                        display: none;
                    }
                }
                &:before{
                    content: "";
                    width: 0;
                    height: 1px;
                    position: absolute;
                    bottom: -3px;
                    right: 0;
                    background: #fff;
                    transition: var(--transition);
                }
                &:hover{
                    opacity: 1;
                    &:before{
                        width: 100%;
                        left: 0;
                    }
                }
                &.btn{
                    opacity: 1;
                    font-weight: 500;
                    &:before{
                        display: none;
                    }
                }
            }
        }
        &_sign {
            gap: 14px;
        }
    }
    &__logo {
    }
    &__nav-wrap {
        
    }
    &__nav {
        display: flex;
        gap: 48px;
    }
    &__menu-btn {
        display: none;
        width: 34px;
        height: 34px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}
.open-menu{
    .header__nav-wrap{
        
        opacity: 1;
        visibility: visible;
        
    }
}

.prices {
    display: flex;
    position: relative;
    z-index: 100;
}
.price {
    width: calc(33.333% + 11px);
    box-shadow: 0px 4px 95px 0px rgba(0, 0, 0, 0.25);
    background: #6a994e;
    border-radius: 11px;
    padding: 45px 60px 28px;
    display: flex;
    flex-direction: column;
    position: relative;
    &:nth-child(2){
        box-shadow: 0px 4px 95px 0px rgba(0, 0, 0, 0.15);
        background: #1d252b;
        transform: translateY(-34px);
        margin: 0 -16px;
        z-index: 10;
        padding-bottom: 38px;
        .price__desc{
            &:after{
                display: none;
            }
        }
    }
    &__name {
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 15px;
    }
    &__cost {
        display: flex;
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
        margin-bottom: 16px;
    }
    &__currency {
        transform: translateY(-4px);
        font-weight: 500;
        font-size: 11px;
        line-height: 128%;
        align-self: flex-start;
        cursor: pointer;
        transition: var(--transition);
        &:hover{
            transform: scale(1.5) translateY(-2px);
        }
    }
    &__val {
        font-weight: 800;
        font-size: 37px;
        line-height: 1;
        margin-right: 6px;
    }
    &__period {
        align-self: flex-end;
        opacity: .7;
        cursor: pointer;
        transition: var(--transition);
        &:before{
            content: '/ ';
        }
        &:hover{
            transform: scale(1.1);
            opacity: 1;
        }
    }
    &__desc {
        opacity: .8;
        margin-bottom: 22px;
        padding-bottom: 22px;
        position: relative;
        &:after{
            content: '';
            position: absolute;
            bottom: 0;
            left: -60px;
            right: -60px;
            display: block;
            height: 1px;
            background: rgba(255, 255, 255, 0.10);
        }
    }
    &__feature {
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 10px;
        line-height: 128%;
    }
    &__feature-name {
        font-size: 13px;
        font-weight: 500;
        line-height: 128%; 
        margin-bottom: 24px;
    }
    &__list {
        margin-bottom: 18px;
        flex-grow: 1;
        li{
            font-size: 13px;
            line-height: 128%;
            margin-bottom: 16px;
            padding-left: 18px;
            background: url(../img/arrow.svg) no-repeat left 5px;
            opacity: .8;
            &:last-child{
                margin-bottom: 0;
            }
            &.marked{
                font-weight: 500;
                opacity: 1;
            }
        }
    }
}

.wow {
    visibility: hidden;
}

@import '_animate';
@import '_query';