.footer {
  padding-bottom: 40px;
  display: grid;
  grid-template: 1fr auto auto/1.7fr 1.7fr 4.5fr;
  gap: 20px;
  grid-template-areas: "logo contact contact" "nav nav2 map" "copy copy map";
}
.footer .card {
  border-radius: 16px;
  padding: 40px;
}
.footer__logo {
  grid-area: logo;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__contact {
  grid-area: contact;
}
.footer__desc {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
}
.footer__contact-list {
  display: flex;
  gap: 45px;
}
.footer__contact-item {
  font-size: 24px;
  transition: var(--transition);
  color: var(--black);
}
.footer__contact-item:hover {
  color: var(--orange);
}
.footer__nav {
  grid-area: nav;
}
.footer__nav .footer__desc {
  margin-bottom: 16px;
}
.footer__nav_2 {
  grid-area: nav2;
}
.footer__navlist {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.footer__navlist-link {
  font-weight: 400;
  font-size: 18px;
  transition: var(--transition);
  color: var(--black);
}
.footer__navlist-link:hover {
  color: #2063cc;
}
.footer__map {
  grid-area: map;
}
.footer__map .map {
  width: 100%;
  height: 340px;
}
.footer__map-desc {
  display: grid;
  grid-template: 1fr/1fr 1fr;
  gap: 60px;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 20px;
}
.footer__copy.card {
  grid-area: copy;
  padding: 20px 30px;
  font-weight: 400;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__copy-dev a {
  color: var(--black);
  text-decoration: underline;
  transition: var(--transition);
}
.footer__copy-dev a:hover {
  color: #2063cc;
  text-decoration: none;
}

.map {
  -webkit-filter: grayscale(100%);
}

.ymaps3x0--map-copyrights_right {
  display: none !important;
}

.ymaps3x0--default-marker__icon-box {
  background: url(../../img/pos.svg) center center no-repeat;
}
.ymaps3x0--default-marker__icon-box svg {
  opacity: 0;
}

.contacts {
  padding: 60px;
}
.contacts h2 {
  margin-bottom: 30px;
}
.contacts__item {
  margin-bottom: 22px;
}
.contacts__item:last-child {
  margin-bottom: 0;
}
.contacts__name {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 5px;
}
.contacts__val {
  font-size: 24px;
  line-height: 110%;
}
.contacts__val a {
  color: var(--black);
  transition: var(--transition);
}
.contacts__val a:hover {
  color: var(--orange);
}

@media only screen and (max-width: 1700px) {
  .footer__map .map {
    width: 100%;
    height: 340px;
  }
  .footer {
    grid-template: 1fr auto auto/1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: "logo logo contact contact contact contact contact contact" "nav nav nav2 nav2 map map map map" "copy copy copy copy map map map map";
    padding-bottom: 20px;
  }
}
@media only screen and (max-width: 1280px) {
  .card.contacts {
    padding: 20px;
  }
  .contacts__item {
    margin-bottom: 10px;
  }
  .contacts h2 {
    margin-bottom: 20px;
  }
  .contacts__name {
    font-size: 13px;
  }
  .contacts__val {
    font-size: 16px;
    line-height: 140%;
  }
  .footer .card {
    padding: 20px;
  }
  .footer__desc {
    font-size: 13px;
    margin-bottom: 10px;
  }
  .footer__contact-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer__navlist-link {
    font-size: 13px;
    line-height: 1.2;
    display: inline-block;
  }
  .footer__navlist {
    gap: 10px;
  }
  .footer__copy.card {
    padding: 20px;
    font-size: 13px;
  }
  .footer__map-desc {
    gap: 20px;
    font-size: 13px;
  }
  .footer__contact-item {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .footer {
    grid-template: auto auto auto auto auto auto/100%;
    grid-template-areas: "logo" "contact" "nav" "nav2" "map" "copy";
  }
  .footer__copy.card {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  .footer__map-desc {
    gap: 10px;
    grid-template: auto auto/1fr;
  }
}/*# sourceMappingURL=footer.css.map */